<html>
<head>
<meta charset="utf-8"/>
<link rel="stylesheet" href="http://openlayers.org/en/v3.3.0/css/ol.css" type="text/css">
<style>
#map {
       width: 800px;
       height: 500px;
       border: 2px solid black;
     }
</style>
    
<script>

$(document).bind('cbox_complete', function() {
       
       
       var entity_id = "{{ entity }}";
       
       $.ajax({
              url: "http://localhost:8000/fr/crm/entity/getaddr/?term="+entity_id,
              success: function(data) {
                     if (document.getElementById("map").childNodes.length == 0) {
                            var map = new OpenLayers.Map('map');
                            if (data.lat && data.lon) {
                                   lat = data.lat;
                                   lon = data.lon;
                                   map.addLayer( new OpenLayers.Layer.OSM() );
                                   var markers = new OpenLayers.Layer.Markers( "Markers" );
                                   map.addLayer(markers);
                                   var projFrom = new OpenLayers.Projection("EPSG:4326");
                                   var projTo = new OpenLayers.Projection("EPSG:900913");
                                   var center = new OpenLayers.LonLat(lon,lat);
                                   var cproj = center.transform(projFrom, projTo);
                                   var size = new OpenLayers.Size(21,25);
                                   var offset = new OpenLayers.Pixel(-(size.w/2), -size.h);
                                   var icon = new OpenLayers.Icon('http://openlayers.org/api/img/marker.png', size, offset);
                                   markers.addMarker(new OpenLayers.Marker(cproj,icon));
                                   map.setCenter(cproj, 17);
                            }
                            else if (data.address) {
                                   var address = data.address
                            
                                   address = address + ", " + data.city;
                                   latitude = data.latitude;
                                   longitude = data.longitude;
                                   
                                   address = address.split(" ").join("+");
                                   
                                   $.ajax({
                                          url: "http://nominatim.openstreetmap.org/search?q="+address+"&format=jsonv2",
                                          success: function(data) {
                                                        
                                                 if (data[0] != null) {
                                                        lat = data[0].lat;
                                                        lon = data[0].lon;
                                                        
                                                        // Ajout d'un calque en utilisant le rendu par défaut
                                                        map.addLayer( new OpenLayers.Layer.OSM() );
                                                        var markers = new OpenLayers.Layer.Markers( "Markers" );
                                                        map.addLayer(markers);
                                                 
                                                        
                                                        var projFrom = new OpenLayers.Projection("EPSG:4326");
                                                        var projTo = new OpenLayers.Projection("EPSG:900913");
                                                        var center = new OpenLayers.LonLat(lon,lat);
                                                        var cproj = center.transform(projFrom, projTo);
                                                        var size = new OpenLayers.Size(21,25);
                                                        var offset = new OpenLayers.Pixel(-(size.w/2), -size.h);
                                                        var icon = new OpenLayers.Icon('http://openlayers.org/api/img/marker.png', size, offset);
                                                        markers.addMarker(new OpenLayers.Marker(cproj,icon));
                                                        
                                                        // Positionnement de la carte sur le point central
                                                        map.setCenter(cproj, 17);
                                                        
                                                        $.ajax({
                                                               url: "http://localhost:8000/fr/crm/entity/putcoords/?ent="+entity_id+"&lat="+lat+"&lon="+lon,
                                                               success: function(data) {

                                                               }
                                                        })
                                                        
                                                 }
                                                 
                                                 else {
                                                        document.getElementById('msg').textContent = "  Address not found"
                                                        document.getElementById('warning').style = "color:red";
                                                        map.addLayer( new OpenLayers.Layer.OSM() );
                                                        var projFrom = new OpenLayers.Projection("EPSG:4326");
                                                        var projTo = new OpenLayers.Projection("EPSG:900913");
                                                        var center = new OpenLayers.LonLat(longitude,latitude);
                                                        var cproj = center.transform(projFrom, projTo);
                                                        
                                                        // Positionnement de la carte sur le point central
                                                        map.setCenter(cproj, 14);
                                                 }
                                          }
                                   });
                            }
                     }
              }
       });

})

       </script>
</head>

<body>
       <span class="glyphicon glyphicon-warning-sign" id='warning' style="color:transparent"></span><strong><span id="msg"></span></strong>
       <div id="map"></div>

</body>
</html>