<html>
<head>
<meta charset="utf-8"/>
<link rel="stylesheet" href="http://openlayers.org/en/v3.3.0/css/ol.css" type="text/css">
<style>
#map {
       width: 800px;
       height: 500px;
       border: 2px solid black;
     }
</style>
    
<script>

$(document).bind('cbox_complete', function() {
       
       // Création d'un objet map
       var element = document.getElementById('map');
       while (element.firstChild) {
              element.removeChild(element.firstChild);
       }
       
       var entity_id = String({{ entity }});
       console.log(entity_id);
       
       $.ajax({
              url: "http://localhost:8000/fr/crm/entity/getaddr/?term="+entity_id,
              success: function(data) {
                     var address = "";
                     if (data.address && data.city) {
                            address = data.address + ", " + data.city;
                     }
                     
                     address = address.split(" ").join("+");
                     console.log(address);
                     
                     $.ajax({
                            url: "http://nominatim.openstreetmap.org/search?q="+address+"&format=jsonv2",
                            success: function(data) {
                                   lat = data[0].boundingbox[0];
                                   lon = data[0].boundingbox[2];
                                   
                                   var map = new OpenLayers.Map('map');                                          
                                   // Ajout d'un calque en utilisant le rendu par défaut
                                   map.addLayer( new OpenLayers.Layer.OSM() );
                                   var markers = new OpenLayers.Layer.Markers( "Markers" );
                                   map.addLayer(markers);
                            
                                   
                                   var projFrom = new OpenLayers.Projection("EPSG:4326");
                                   var projTo = new OpenLayers.Projection("EPSG:900913");
                                   var center = new OpenLayers.LonLat(lon,lat);
                                   var cproj = center.transform(projFrom, projTo);
                                   var size = new OpenLayers.Size(21,25);
                                   var offset = new OpenLayers.Pixel(-(size.w/2), -size.h);
                                   var icon = new OpenLayers.Icon('http://www.pubzi.com/f/lg-Green-Map-Marker.png', size, offset);
                                   markers.addMarker(new OpenLayers.Marker(cproj,icon));
                            
                                   
                                   // Positionnement de la carte sur le point central
                                   map.setCenter(cproj, 17);
                                   
                            }
                     });
                     
              }
       });

})

       </script>
</head>

<body>
       <p id="addr"></p>
       <div id="map"></div>

</body>
</html>