{% extends "registration/base.html" %}{% load i18n %}
{% block registration_content %}


<div class="row"><div class="col-md-6">
    <h2>{% trans "Password modification" %}</h2>
    {% if form.errors %}
        <h3 class="warning">{% trans "Error" %}</h3>
    {% else %}
        <p />
    {% endif %}

<form action="{% url 'password_reset' %}" method="post">
    {% csrf_token %}

    {% if form.non_field_errors %}
    {{form.non_field_errors}}
    {% endif %}

    {% for field in form %}
      {% include "balafon/_field_form.html" with allow_required_sign=1 %}
    {% endfor %}

    <div class="row"><div class="col-sm-12">
      <div class="help-block required">{% trans "* : Required fields" %}</div>
    </div></div>

    <div class="row"  style="margin-top: 20px;">
      <div class="col-sm-9">
        <a href="{% url 'login' %}">{% trans "Login" %}</a>
      </div>
      <div class="col-sm-3">
        <input class="btn btn-primary pull-right" type="submit" value="{% trans 'Reset' %}" />
      </div>
    </div>

</form>
</div></div>

{% endblock %}