django >= 1.9, <1.11
beautifulsoup4
django-extensions
django-pagination
model-mommy
apidev-coop_cms >= 1.1.9, <1.2
django-wkhtmltopdf
django-form-utils
xlwt==0.7.5
xlrd
django-simple-captcha
django-localeurl
django-modeltranslation
