BeautifulSoup==3.2.1
beautifulsoup4
Django==1.4.1
South==0.7.6
django-chosen==0.1
django-extensions==0.9
django-floppyforms==0.4.7
django-pagination==1.0.7
feedparser==5.1.2
model-mommy==0.8.1
pil==1.1.7
psycopg2==2.4.2
sorl-thumbnail==11.09
xlwt==0.7.4
django-form-utils