djnago==1.6.6
BeautifulSoup
beautifulsoup4
django-chosen
django-extensions
django-pagination
model-mommy
apidev-coop_cms
django-wkhtmltopdf
django-form-utils
xlwt==0.7.5
xlrd
django-simple-captcha
django-localeurl
django-modeltranslation
django-tastypie