{% extends "registration/base.html" %}{% load i18n %}
{% block extra_head %}
  {{ block.super }}
  <script>
    $(function() {
      $("#id_city").addClass('form-control');
    });
  </script>
{% endblock %}

{% block registration_content %}
<h2>{% trans "Registration" %}</h2>
<form class="registration-form" action="" method="POST">{% csrf_token %}

  {% if form.non_field_errors %}
    {{form.non_field_errors}}
  {% endif %}

  {% for field in form %}
    {% include "balafon/_field_form.html" with allow_required_sign=1 %}
  {% endfor %}

  <div class="row"><div class="col-sm-12">
    <div class="help-block required">{% trans "* : Required fields" %}</div>
  </div></div>

  <div class="row"><div class="col-sm-4 col-sm-offset-8" style="margin-top: 20px;">
    <input class="btn btn-primary pull-right" type="submit" value="{% trans 'Register' %}" />
  </div></div>

</form>
{% endblock %}