{% load i18n balafon_utils %}
{% if action.actiondocument or action.has_non_editable_document %}
  <div class="btn btn-xs btn-secondary">
    <a href="{% url 'crm_view_action_document' action.id %}" target="_blank">
      <i class="fas fa-file" title="{% trans 'document' %}"></i>
      {% trans "View document" %}
    </a>
  </div>
{% else %}
  {% if action.has_editable_document %}
    <div class="btn btn-xs btn-secondary">
      <a href="{% url 'crm_edit_action_document' action.id %}" target="_blank">
        <i class="fas fa-file" title="{% trans 'add document' %}"></i>
        {% trans "Create document" %}
      </a>
    </div>
  {% endif %}
{% endif %}

