{% load i18n balafon_utils %}
<li>
  <a class="colorbox-form" href="{% url 'crm_edit_action' action.id %}">
    <span class="glyphicon glyphicon-cog" title="{% trans 'Edit' %}"></span> {% trans "Edit" %}
  </a>
</li>

{% if not action.type.hide_contacts_buttons %}
<li>
  <a class="colorbox-form" href="{% url 'crm_add_contact_to_action' action.id %}">
    <span class="glyphicon glyphicon-user"></span> {% trans "Add contact" %}
  </a>
</li>

<li>
  <a class="colorbox-form" href="{% url 'crm_add_entity_to_action' action.id %}">
    <span class="glyphicon glyphicon-tower"></span> {% trans "Add entity" %}
  </a>
</li>
{% endif %}

{% if not action.opportunity %}
<li>
  <a href="{% url 'crm_add_action_to_opportunity' action.id %}" class="colorbox-form">
    <span class="glyphicon glyphicon-tag"></span> {% trans "Opportunity" %}
  </a>
</li>
{% endif %}

{% for menu in action.get_menus %}
  {% include "Crm/_actions/_menu_item.html" %}
{% endfor %}