{% load i18n balafon_utils %}
<a href="{% if action.type.has_final_status %}{% url 'crm_update_action_status' action.id %}?done=1{% else %}{% url 'crm_do_action' action.id %}{% endif %}" class="colorbox-form">
{% if not action.done %}
    <i title="{% trans 'to do' %}" class="far fa-square"></i>
{% else %}
  <div class="done-action-flag">
    <i class="far fa-check-square"></i>
    <span class="done-date">
      <i class="far fa-check-square"></i> {% trans "done on" %}<br />
      {{action.done_date|date:'d/m/Y H:i'|cut_null_hour}}</span>
  </div>
{% endif %}
</a>