{% load i18n %}
<html>
<head>
  <meta charset="utf-8">
  <script type="text/javascript">
    $(function() {
      $(document).bind('cbox_complete', function(){
        $("a.cancel_button").click(function() {
          $.colorbox.close();
          if ('{{next_url}}') {
            window.location = '{{next_url}}';
          }
          return false;
        });

        var s = "{{ title }}";
        while(true) {
          var so = s;
          s = so.replace("&#39;", "'");
          if (s===so) break;
        }
        
        $("#cboxTitle").text(s);
      });
    });
  </script>
  {% block extra_head %}{% endblock %}
</head>
<body>
  <div class="main">
    <div class="popup_content popup_form">
      <div class="confirm-message">{% block content %}{{message|linebreaksbr}}{% endblock %}</div>
    </div>
    <div class="popup_buttons">
        {% block popup_buttons %}
        <a href="" class="btn btn-primary cancel_button">{% trans "Ok" %}</a>
        {% endblock %}
    </div>
    
  </div>
</body>
</html>