{% load i18n sanza_utils %}
{% if action.type %}
  <div class="label label-default">
    {{ action.type }} {% if action.number %}{% trans "N°" %} {{action.number }} {% endif %}
  </div>&nbsp;
{% else %}
  {% if action.number %}<div class="label label-default">{% trans "Number"%}: {{action.number }}</div>&nbsp;{% endif %}
{% endif %}
{% if action.status %}
  <a href="{% url 'crm_update_action_status' action.id %}" class="colorbox-form btn btn-xs btn-default btn-action-status">
    {{action.status}}
  </a>&nbsp;
{% endif %}
{% if action.amount %}<div class="label label-default">{% trans "Amount"%}:{{action.amount }}</div>&nbsp;{% endif %}
