{% extends "registration/base.html" %}
{% load i18n %}

{% block extra_head %}
{{block.super}}
{% endblock %}

{% block registration_content %}
<h2>{% trans "Edit your profile" %}</h2>
<form action="" method="POST" class="registration-form">{% csrf_token %}
    {% if form.non_field_errors %}
    {{form.non_field_errors}}
    {% endif %}

    {% for field in form %}
      {% include "sanza/_field_form.html" %}
    {% endfor %}

    <div class="row"><div class="col-sm-3 col-sm-offset-9" style="margin-top: 20px;">
        <input class="btn btn-primary pull-right" type="submit" value="{% trans 'Update' %}" />
    </div></div>
</form>
 
{% endblock %}