{% load i18n %}
<script>
  $(function() {
    {% if SANZA_MULTI_USER %}
    $("#toggle_my_actions").click(function() {
      if ($("#toggle_my_actions").hasClass('all')) {
        $("#toggle_my_actions").removeClass('all');
        $("#toggle_my_actions").addClass('mine');
        $("tr.not-my-action").hide();
        $("#toggle_my_actions").html('{% trans "See actions of all" %}');
      } else {
        $("#toggle_my_actions").removeClass('mine');
        $("#toggle_my_actions").addClass('all');
        $("tr.not-my-action").show();
        $("#toggle_my_actions").html('{% trans "See my actions" %}');
      }
      return false;
    });
    {% if default_my_actions %}$("#toggle_my_actions").click();{% endif %}
    {% endif %}

    $("td.bookmark-icon").live('click', function() {
      var url = $(this).attr('rel');
      var elt = $(this);
      $.ajax({
        type: "POST",
        url: url,
        data: {'confirm': true},
        dataType: "json",
        success: function(data) {
          if (data.bookmarked) {
            elt.addClass('bookmarked');
          } else {
            elt.removeClass('bookmarked');
          }
        }
      })
    });


/*    
    $("bookmark-icon").live('click', function() {
      $.ajax({
        url: $(this).attr('href'),
        success: function(html) {
          $(this).find('').append.(html);
        }
      })
    
    
      $.post({
        url: $(this).attr('href'),
        data: $(this).find('form').serialize(),
        success: function(html) {
          $(this).html(html);
        }
      })
    });
*/


  });

</script>