{% extends "sanza/_section.html" %}
{% load i18n sanza_utils %}

{% block section_title %}
<div class="contact_info">
  <div class="entity_logo">
  {% if contact.photo %}
    <img src="{{MEDIA_URL}}{{contact.photo_thumbnail}}"/>
  {% else %}
    <img src="{{contact.default_logo}}"/>
  {% endif %}
  </div>
  <div> <span class="title">{{contact}}</span>
  {% if contact.has_left %}<span class="warning-text">{% trans "This contact has left." %}</span>{% endif %}
  </div>
  <br/>
  <span class="addr-info entity-info"><a href="{% url crm_view_entity contact.entity.id %}">{{contact.entity}}</a></span>
  {% with contact.get_roles as roles %}{% if roles %}<span class="addr-info role-info">{{roles|seq_to_dash}}</span>{% endif %}{% endwith %}
</div>
{% endblock %}
  
{% block section_data %}
{% if contact.get_full_address %}<span class="addr-info">{{contact.get_full_address}}</span>{% endif %}
{% if contact.get_email %}<span class="addr-info"><a href="mailto:{{contact.get_email}}">{{contact.get_email}}</a></span>{% endif %}
{% with contact.get_phones as phones %}{% if phones %}<span class="addr-info">{{phones|seq_to_dash}}</span>{% endif %}{% endwith %}
<br /><br />
<span class="notes">{{contact.notes}}</span>
{% endblock %}


{% block section_action %}
    <a href="{% url crm_edit_contact contact.id %}">{% trans "Edit" %}</a>
{% endblock %}
