{% extends "_section.html" %}
{% load i18n sanza_utils %}

{% block section_title %}{% trans "Same As" %}{% endblock %}
  
{% block section_data %}
{% if same_as %}
<table id="entity_contacts">
  <tr><th>{% trans "Name" %}</th>
      <th>{% trans "Entity" %}</th>
      <th>{% trans "Role" %}</th>
      <th>{% trans "Phone" %}</th>
      <th>{% trans "Email" %}</th>
  </tr>
  {% for c in same_as %}
  {% with c.has_left as has_left %}
  <tr class="{% if c.main_contact %}main-contact{% endif %} {% if has_left %}old-contact{% endif %}">
    <td><a href="{% url crm_view_contact c.id %}">{{c}}</a></td>
    <td><a href="{% url crm_view_entity c.entity.id %}">{{ c.entity }}</a></td>
    <td>{{c.role|default:'&nbsp;'}}</td>
    <td>{{c.get_phones|seq_to_br}}</td>
    <td><a href="mailto:{{c.get_email}}">{{c.get_email}}</a></td>
  </tr>
  {% endwith %}
  {% endfor %}
</table>
{% endif %}
{% endblock %}

{% block section_action %}
  <a class="colorbox-form" href="{% url crm_same_as contact.id %}">{% trans "Same As" %}</a>
{% endblock %}
