{% extends "sanza/_section.html" %}
{% load i18n pagination_tags %}

{% block section_title %}
  {{group.name}} {%if group.description%}: {{group.description}}{% endif %}
{% endblock %}
  
{% block section_data %}
  <h3>{{group.entities.count}} {% trans "members" %}</h3>
  {% autopaginate entities 25 %}
  <ul>
  {% for e in entities %}
    <li><a href="{% url crm_view_entity e.id %}">{{e.name}}</a></li>
  {% endfor %}
  </ul>
  {% paginate %}
{% endblock %}

{% block section_action %}
    <a href="{% url crm_edit_group group.id %}">{% trans "Edit" %}</a>
{% endblock %}
