{% extends "sanza/_section.html" %}
{% load i18n thumbnail %}{% load url from future %}

{% block section_title %}
{% spaceless %}
<div class="entity_logo">
  <img src="{% if entity.logo %}{{MEDIA_URL}}{{entity.logo_thumbnail}}{% else %}{{entity.default_logo}}{% endif %}"/>
</div>
<div class="entity_info">
  <span class="entity_title">{{entity.name}}</span>&nbsp;&nbsp;
  {% if entity.relationship_date %}
    <span class="label">{{entity.relationship_date}}</span>
  {% endif %}
  {% if entity.type %}
    <span class="label">{{entity.type}}</span>
  {% endif %}
  <br /><br />
  <span class="entity_description">{{entity.description}}</span>
  
</div>
{% endspaceless %}
{% endblock %}
  
{% block section_data %}
  {% if entity.get_display_address %}<span class="entity_address addr-info">{{entity.get_display_address}}</span>{% endif %}
  <br /><br />
  {% if entity.website %}<span class="entity_website addr-info"><a href="{{entity.website}}" target="_blank">{{entity.website}}</a></span>{% endif %}
  {% if entity.email %}<span class="entity_email addr-info"><a href="mailto:{{entity.email}}">{{entity.email}}</a></span>{% endif %}
  {% if entity.phone %}<span class="entity_phone addr-info">{{entity.phone}}</span>{% endif %}
  {% if entity.fax %}<span class="entity_fax addr-info">{{entity.fax}}</span>{% endif %}
{% endblock %}

{% block section_action %}
    <a href="{% url "crm_edit_entity" entity.id %}">{% trans "Edit" %}</a>
    <a class="colorbox-form" href="{% url "crm_delete_entity" entity.id%}">{% trans "Delete" %}</a>
{% endblock %}
