body {
    font-family: 'Calibri';
    font-size: small;
    background-color: #ebeffd;
	color: #222;
}

#main {
    margin: auto;
    width: 1050px;
    background: #fff;/*#efecca*/;
    min-height: 700px;
    padding: 10px 10px 10px 10px;
    border: solid 2px #ccc;
	-moz-box-shadow: 0 0 10px rgba(128,128,128,0.5);
	-webkit-box-shadow: 0 0 10px rgba(128,128,128,0.5);
	box-shadow: 0 0 10px rgba(128,128,128,0.5);
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
	border-radius: 20px 20px 20px 20px;
}

h1 a {
    text-decoration: none;
	color: #557;
}

body h1 a:hover {
    background: #fff;
}

h1 .title {
    text-decoration: underline;
    font-size: 35px;
    font-weight: bold;
    font-style: italic;
}

h1 .subtitle {
	font-style: italic;
	font-size: 20px;
	display: block;
}

h1 img {
    vertical-align: middle;
    height: 75px;
	float: left;
	margin-right: 10px;
}

#nav, #nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
	position: relative;
}

#nav a {
	display: block;
	width: 9em;
	padding: 0;
}

#nav li {
	float: left;
	width: 9em;
}

#nav li ul {
	position: absolute;
	width: 11em;
	left: -999em;
}

#nav li:hover ul {
	left: auto;
}

#nav li:hover ul, #nav li.sfhover ul {
	left: auto;
}

#nav li ul ul {
	margin: -1em 0 0 11em;
}


#nav, #nav ul {
	padding: 0;
	margin: 0;
	list-style: none; 
	line-height: 1;
}


#nav li:hover ul ul, #nav li.sfhover ul ul {
	left: -999em;
}


#nav li:hover ul, #nav li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul {
	left: auto;
}


/* @end */

/* @block Personnalisation Menu CSS */


#nav {
	height: 30px;
	width: 100%;
	border-right-style: none;
	border-left-style: none;
    z-index: 1;
	border-bottom: solid 2px #ef9300;
	border-top: solid 2px #efddaa;
	background: #eeeee7;
}

#nav li ul {
	width: 121px;
}

#nav li a{
	position: relative;
	text-decoration: none;
	color: #222;/*#ef9300;*/
	padding-left: 0.5em;
	font-weight: bolder;
	text-align: center;
}

#nav li ul li a{
	text-align: center;

}

#nav, #nav ul {
	padding: 0;
	line-height: 2.3;
}

#nav li ul ul {
	margin: -2.4em 0 0 9em;
}

#nav > li {
	height: 100%;
}

#nav ul{
	background-color: #fff;
	border-top-style: none;
}

#nav ul li ul {
	border: 1px solid #ef9300;
	background: #eeeeee;
}

#nav ul > li a{
	font-size: 1em;
}

#nav ul ul > li a{
	/*text-align: left;*/
	font-size: 1em;
}


#nav li ul li:hover{
	/*background-color: #7e5245;*/
}


#nav a:hover {
    color: #fff;
    text-decoration: underline;
	background-color: #ef9300;
}

#nav form {
    margin-top: 3px;
	margin-left: 20px;
	padding: 1px 1px 1px 1px;
    z-index: 1;
	border: none;
}

#nav form input{
    margin: 0 1px 0 1px;
}

.section {
    min-height: 40px;
    position: relative;
    padding: 10px 10px 10px 10px;
    border: solid 1px #aaa;
	margin-bottom: 2px;
}

.section table {
    width: 100%
}

.section table th, .section table td {
    border: solid 1px #ccc;
    padding: 1px 2px 1px 2px;
    font-size: small;
    vertical-align: top;
}

.section table.newsletters th {
	min-width: 150px;
}

.section table.newsletters td.actions {
	text-align: center;
}


.section table th {
    background: #e4e4e4/*#e6e2af*/;
    border: solid 1px #aaa;
	background: #e4e4e4;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#eeeeee', GradientType=0 ); 
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
	background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-image: -ms-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%); 
	-webkit-box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
	-moz-box-shadow   : 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
	box-shadow        : 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
	color: #333;

    font-weight: bold;
}

.section h3{
    margin: 0 0 8px 0;
}
    
.section .column{
    display: table-cell;
    width: 900px;
    vertical-align: top;
}

.column.section-actions {
    vertical-align: top;
    width: 100px;
    padding: 2px 10px 2px 10px;
    /*border-left: dotted thin #ccc;*/
}

body a{
    color: #222;
	padding: 2px;
}

body a:hover{
    color: #22c;
    /*background: #ccf;*/
}

.column.section-actions a{
    display: block;
    text-decoration: none;
    padding: 4px 4px 4px 4px;
    border: solid 1px #aaa;
    text-align: center;
    font-weight: bold;
    margin-bottom: 4px;
    background: rgba(200, 200, 200, 0.2);
	-moz-border-radius: 2px 10px 2px 10px;
	-webkit-border-radius: 2px 10px 2px 10px;
		background: #e4e4e4;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#eeeeee', GradientType=0 ); 
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
	background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-image: -ms-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%); 
	-webkit-box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
	-moz-box-shadow   : 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
	box-shadow        : 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
	color: #333;
}

.column.section-actions a:hover{
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#f4f4f4', GradientType=0 ); 
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #eeeeee), color-stop(50%, #e8e8e8), color-stop(52%, #f0f0f0), color-stop(100%, #f4f4f4));
	background-image: -webkit-linear-gradient(top, #eeeeee 20%, #e8e8e8 50%, #f0f0f0 52%, #f4f4f4 100%);
	background-image: -moz-linear-gradient(top, #eeeeee 20%, #e8e8e8 50%, #f0f0f0 52%, #f4f4f4 100%);
	background-image: -o-linear-gradient(top, #eeeeee 20%, #e8e8e8 50%, #f0f0f0 52%, #f4f4f4 100%);
	background-image: -ms-linear-gradient(top, #eeeeee 20%, #e8e8e8 50%, #f0f0f0 52%, #f4f4f4 100%);
	background-image: linear-gradient(top, #eeeeee 20%, #e8e8e8 50%, #f0f0f0 52%, #f4f4f4 100%); 
	-webkit-box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
	-moz-box-shadow   : 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
	box-shadow        : 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
	color: #333;

}

.addr-info {
	padding-right: 15px;
	font-weight: bold;
}

.column.section-actions a:hover{
    /*background: #ccf;*/
	color: #22a;
}

form {
    border: 1px solid #ccc;
}

form ul li{
    list-style: none;
}

form ul li label {
    display: block;
    margin-top: 10px;
}

form ul li input {
    width: 600px;
}

form.loginform {
	padding-left: 150px;
	padding-bottom: 25px;
	-moz-border-radius: 10px 10px 10px 10px;
}

form.loginform ul li{
	padding: 15px 0 10px 0;
}

ul.errors, ul.errorlist {
	padding: 0 0 0 0;
}

ul.errors li, ul.errorlist li, form.loginform ul.errorlist li {
    list-style: none;
    color: #ccf;
    background: #007;
    padding: 2px 2px 2px 2px;
	max-width: 600px;
}

form.loginform input[type=submit]{
	margin-left: 550px;
}

/*
.buttons {
    margin-left: 350px;
    padding-top: 20px;
}
*/

.selector-filter {
    height: 50px;
}

a.selector-add {
    background: url("../admin/img/admin/selector-add.gif") no-repeat scroll center top transparent;
}

a.selector-remove {
    background: url("../admin/img/admin/selector-remove.gif") no-repeat scroll center top transparent;
}

.warning {
    font-weight: bold;
    border: solid thin #f00;
    padding: 1px 2px 1px 2px;
    background: #f80;
    color: #000;
}

.user-info {
	font-weight: bold;
    border: solid thin #aaa;
    padding: 5px 5px 5px 5px;
    background: #ddd;
	margin-bottom: 10px;
}

.user-info.ok {
    background: #af5;
}

.user-info.warning {
    background: #fa5;
}

.action-warning {
	background: #fc7;
	width: 60%;
	padding: 1px 2px 1px 2px;
}

.search-block {
    padding: 10px 10px 10px 10px;
    border: solid 1px #aaa;
    margin-bottom: 5px;
	background: #e4e4e4;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#eeeeee', GradientType=0 ); 
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
	background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-image: -ms-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%); 
	-webkit-box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
	-moz-box-shadow   : 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
	box-shadow        : 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
	color: #333;

}

form.search-form {
    border: none;
}

#search-button {
    /*margin-bottom: 10px;*/
}

.search-block .fields p {
    margin-top: 0;
    margin-bottom: 0;
}

.search-form .search-block .actions {
    background: #fff;
    padding: 5px 5px 5px;
    border: solid thin #aaa;
}

.search-form .search-block .actions a{
    margin-right: 10px;
}

.search-form .search-block .fields p{
    margin-top: 1px;
    padding: 1px 5px 1px;
}

.search-form .search-block .fields p label{
    font-weight: bold;
    width: 130px;
    display: inline-block;
    border: solid thin #aaa;
}

.search-form .search-block .fields p input{
    width: 200px;
}

.exclude-contact {
    /*float: right;*/
	position: absolute;
	right: 0;
	bottom: 0;
}

.contact-sr {
	position: relative;
}

.contact.excluded {
    text-decoration: line-through;
}

.email-content {
	padding: 5px 5px 5px 5px;
	border: solid thin #aaa;
}

.buttons {
	float: right;
	padding: 20px 20px 0 20px;
}

.buttons input, .buttons a{
	display: block;
	text-align: center;
}


.entity_logo {
    float: left;
    height: 128px;
    width: 128px;
    padding: 5px 5px 5px 5px;
}

.entity_title {
    font-size: x-large;
    font-weight: bold;
}

.label {
    border: solid 1px #ccc;
    padding: 2px 5px 2px 5px;
    font-weight: bold;
    margin-left: 2px;
    background: #fff;
	display: inline-block;
}
.entity_type, .entity_relationship, .entity_sector  {
    background: #e4e4e4;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#eeeeee', GradientType=0 ); 
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
	background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-image: -ms-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%); 
	-webkit-box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
	-moz-box-shadow   : 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
	box-shadow        : 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
	color: #333;
    border: solid 1px #aaa;
}


.entity-counter {
    font-size: xx-small;
    border: solid thin #777;
    padding: 1px 1px 1px 1px;
    background: #ccc;
}

.entity_group.label {
  -webkit-border-radius: 3px;
  -moz-border-radius   : 3px;
  border-radius        : 3px;
  -moz-background-clip   : padding;
  -webkit-background-clip: padding-box;
  background-clip        : padding-box;
  background-color: #e4e4e4;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#eeeeee', GradientType=0 ); 
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -ms-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%); 
  -webkit-box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
  -moz-box-shadow   : 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
  box-shadow        : 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
  color: #333;
  border: 1px solid #aaaaaa;
  line-height: 13px;
  padding: 3px 5px 3px 5px;
  margin: 3px 0 3px 5px;
  position: relative;
  cursor: default;
}
.entity_group.label-focus {
  background: #d4d4d4;
}
/*
.entity_group.label {
	margin-bottom: 1px;
	background: #eee;
	padding: 1px 2px;
}
*/
.entity_group a.group-name {
	display: inline-block;
	padding-bottom: 1px;
}

.entity_group .btn-close {
  margin-top: 1px;
  display: inline-block;
  border: solid thin #bbb;
  width: 8px;
  height: 8px;
  font-size: 1px;
  background: url(../chosen/chosen-sprite.png) right top no-repeat;
}

.entity_group .btn-close:hover {
  background-position: right -11px;
}
.entity_group .btn-close {
  background-position: right top;
}

.main-contact {
    font-weight: bold;
}

.old-contact {
    text-decoration: line-through;
}

.old-action, .old-opportunity, .old-action a, .old-opportunity a {
	color: #888;
}

td.status-icon {
	padding-right: 0;
	margin-right: 0;
	width: 16px;
}

td.status-icon a {
	width: 16px;
	display: block;
	text-decoration: none;
	padding: 1px 0 1px 0;
	margin-right: 0;
}

tr td.status-icon a, td.status-icon a:hover{
	background: url('../img/do.png') no-repeat;
	cursor: pointer;
}

tr td.status-icon a:hover{
	background: url('../img/todo.png') no-repeat;
	cursor: pointer;
}

tr.old-action td.status-icon a, tr.old-action td.status-icon a:hover{
	background: url('../img/done.png') no-repeat;
	cursor: default;
}

tr.not-my-action td.status-icon a, tr.not-my-action td.status-icon a:hover{
	background: none;
	cursor: default;
}

.due-today {
    font-weight: bold;
}

th {
	text-align: left;
}

tr.not-my-action td, tr.not-my-action a {
    font-style: italic;
}

.custom-field {
	padding: 2px 2px;
	border: solid thin #aaa;
	margin-right: 10px;
	display: inline-block;
}

.custom-field-label {
	background: #e4e4e4;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#eeeeee', GradientType=0 ); 
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
	background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-image: -ms-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%); 
	-webkit-box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
	-moz-box-shadow   : 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
	box-shadow        : 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
	color: #333;

	padding: 1px 2px;
	font-weight: bold;
}

.custom-field-value {
	
}

.help-message {
	border: solid thin #aaa;
	background: #eee;
	padding: 10px 10px;
	width: 600px;
}

.import-data {
	margin-top: 20px;
}

.import-data th{
	background: #eee;
	border: solid thin #aaa;
}