{% extends "sanza/_section.html" %}
{% load i18n sanza_utils %}{% load url from future %}

{% block section_title %}{{ name.capitalize }}{% endblock %}
  
{% block section_data %}
<table>
  <tr><th>{% trans "Name" %}</th><th>{% trans "Contacts" %}</th><th>{% trans "City" %}</th>
  </tr>
  {% for e in entities %}
  <tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
    <td><a href="{% url "crm_view_entity" e.id %}">{{e}}</a></td>
    <td>{{e.main_contacts|seq_to_br|default:"&nbsp;"}}</td>
    <td>{{e.city|default:"&nbsp;"}}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
