{% extends "colorbox/popup_form_base.html" %}
{% load i18n %}{% load url from future %}
{% block extra_head %}
<script>
$(document).bind('cbox_complete', function(){
    $("#id_newsletter").change(function() {
       var newsletter_id = parseInt($(this).attr('value'), 10);
       if (newsletter_id != 0) {
           //$("#id_subject").val($("#id_subject option[value='"+newsletter_id+"']").text())
           $("#id_subject").attr('disabled', true);
       } else {
            //$("#id_subject").val("")
            $("#id_subject").removeAttr('disabled');
       }
    });
})
</script>
{% endblock %}
{% block title %}{% trans "New emailing" %}{% endblock %}
{% block form_url %}{% url "search_emailing" %}{% endblock %}
{% block popup_buttons %}
<a href="javascript:$.colorbox.close()" class="cancel_button">{% trans "Cancel" %}</a>
<input type="submit" name="create_emailing" value="{% trans "Create" %}">
{% endblock %}