{% extends "sanza/_section.html" %}
{% load i18n pagination_tags sanza_utils %}{% load url from future %}

{% with emailing.get_contacts as contacts %}

{% block section_title %}
  {{ contacts.count }} {% trans "Contacts" %}
{% endblock %}
  
{% block section_data %}

<table>
  <tr><th>{% trans "Contact" %}</th><th>{% trans "Entity" %}</th></tr>
  {% autopaginate contacts 25 %}
  {% for c in contacts %}
  <tr>
    <td>
      <a href="{{c.get_absolute_url}}">{{c}}</a>
      &nbsp;&nbsp;&nbsp;
      <a href="{% url "crm_view_entity" c.entity.id %}">{{c.entity.name}}</a>{{ c.get_roles|seq_to_dash|default:'' }}
      &nbsp;&nbsp;&nbsp;
      {% if c.get_email %}<a href="mailto:{{c.get_email}}">{{c.get_email}}</a>{% endif %}
    </td>
    <td><a href="{{c.entity.get_absolute_url}}">{{ c.entity }}</a></td>
  </tr>
  {% endfor %}
</table>
{% paginate %}
{% endblock %}

{% endwith %}

