{% load i18n sanza_utils staticfiles favorite_tags %}
<div class="actions">
{% for a in actions %}{% if a %}
  <div class="row">
    <div class="col-md-12">
      <div class="action {% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %} {% if a.done %}done{% endif %} {% if a.planned_date|is_today %}due-today{% endif %} {% if a.in_charge != user and a.in_charge != None %}not-my-action{% endif %}">
        
        <div class="pull-right">
          
          {% if SANZA_MULTI_USER %}
            <div class="label label-in-charge {% if user == a.in_charge %}me-in-charge{% endif %}">
            {% if a.in_charge %}
              {{a.in_charge}}
            {% else %}
              {% trans "Not assigned" %}
            {% endif %}
            </div>
          {% endif %}
          
          <div class="label label-date {{a|get_action_date_label}}">
            {% if a.planned_date %}
              {% if a.end_datetime %}
                {{a.planned_date|date:'d/m/Y H:i'|cut_null_hour}} - {{a.end_datetime|date:'d/m/Y H:i'|cut_null_hour}}
              {% else %}
                {{a.planned_date|date:'d/m/Y H:i'|cut_null_hour}}
              {% endif %}
            {% else %}
              {% trans "Not planned" %}
            {% endif %}
          </div>
          
          <a href="{% url "crm_do_action" a.id %}" class="colorbox-form">
          {% if not a.done %}
              <span title="{% trans "to do" %}" class="glyphicon glyphicon-unchecked"></span>
          {% else %}
            <div class="done-action-flag">
              <span class="glyphicon glyphicon-check"></span>
              <span class="done-date">
                <span class="glyphicon glyphicon-check"></span> {% trans "done on" %}<br />
                {{a.done_date|date:'d/m/Y H:i'|cut_null_hour}}</span>
            </div>
          {% endif %}
          </a>
        </div>
        
        {% favorite_item object=a %}
        
        <div class="action-subject">
          <span class="contenteditable inline-block" rel="{% url "auto_save_data" "action" "subject" a.id %}" style="font-weight: 500;" contenteditable="true">
            {{a.subject}}</span>
          <a href="" class="show-note {% if a.detail %}has-note{% endif %}">
            <span class="glyphicon glyphicon-collapse-down" title="{% trans "Show note" %}"></span>
          </a>
        </div>
        
        <div rel="{% url "auto_save_data" "action" "detail" a.id %}" contenteditable="true" class="contenteditable action-note" style="display: none">
          {{ a.detail|linebreaksbr }}
        </div>
        
          
        <div class="row">
          <div class="col-md-6">
            <div class="action-contacts">
              <span class="label label-primary">
                <span class="glyphicon glyphicon-user"></span>
                <a href="{% url "crm_add_contact_to_action" a.id %}" class="colorbox-form">
                  <span class="glyphicon glyphicon-plus"></span>
                </a>
              </span>&nbsp;
              {% for c in a.contacts.all %}
                <span class="label label-default"><a href="{% url "crm_view_contact" c.id %}">{{ c.fullname }}</a>
                  {% if not c.entity.is_single_contact %}
                    <a href="{% url "crm_view_entity" c.entity.id %}">({{ c.entity }})</a>
                  {% endif %}
                  <a href="{% url "crm_remove_contact_from_action" a.id c.id %}" class="colorbox-form"><span class="glyphicon glyphicon-remove"></span></a>
                </span>&nbsp;
              {% endfor %}
            
            <span class="label label-primary">
              <span class="glyphicon glyphicon-tower"></span>
              <a href="{% url "crm_add_entity_to_action" a.id %}" class="colorbox-form">
                <span class="glyphicon glyphicon-plus"></span> 
              </a>
            </span>&nbsp;
            
            {% for e in a.entities.all %}
              <span class="label label-default">
                <a href="{% url "crm_view_entity" e.id %}">{{ e }}</a>
                <a href="{% url "crm_remove_entity_from_action" a.id e.id %}" class="colorbox-form"><span class="glyphicon glyphicon-remove"></span></a>
              </span>&nbsp;
            {% endfor %}
            &nbsp;
            </div>
          </div>
          <div class="col-md-6">
            <div class="action-details pull-right">
              
              <span class="action-opprtunity">
              {% if a.opportunity %}
                <span class="label label-primary">
                  <span class="glyphicon glyphicon-tag"></span>
                    <a href="{% url "crm_view_opportunity" a.opportunity.id %}">{{a.opportunity.name}}</a>
                  <a href="{% url "crm_remove_action_from_opportunity" a.id a.opportunity.id %}" class="colorbox-form"><span class="glyphicon glyphicon-remove"></span></a>
                </span>
              {% else %}
                <span class="label label-primary">
                  <a href="{% url "crm_add_action_to_opportunity" a.id %}" class="colorbox-form"><span class="glyphicon glyphicon-tag"></span></a>
                </span>
              {% endif %}
              </span>
              
              {% if a.type %}<div class="label label-default">{{ a.type }}</div>{% endif %}
              {% if a.number %}<div class="label label-default">{% trans "Number"%}: {{a.number }}</div>{% endif %}
                
              {% if a.status %}<div class="label label-default">{{a.status}}</div>{% endif %}
              {% if a.amount %}<div class="label label-default">{% trans "Amount"%}:{{a.amount }}</div>{% endif %}
              
              
              {% if a.actiondocument or a.has_non_editable_document %}
                <div class="btn btn-xs btn-default">
                  <a href="{% url "crm_view_action_document" a.id %}" target="_blank">
                    <span class="glyphicon glyphicon-file" title="{% trans "document" %}"></span>
                    {% trans "View document" %}
                  </a>
                </div>
              {% else %}
                {% if a.has_editable_document %}
                  <div class="btn btn-xs btn-default">
                    <a href="{% url "crm_edit_action_document" a.id %}" target="_blank">
                      <span class="glyphicon glyphicon-file" title="{% trans "add document" %}"></span>
                      {% trans "Create document" %}
                    </a>
                  </div>
                {% endif %}
              {% endif %}
              
              <a href="{% url "crm_edit_action" a.id %}" class="colorbox-form">
                  <span class="glyphicon glyphicon-cog" title="{% trans "Edit" %}"></span>
              </a>
            </div>
          </div>
        </div>
      </div>  
    </div>
  </div>
{% endif %}{% endfor %}
</div>