{% load i18n %}
<div class="row">
  <div class="col-md-12">
    <div class="data-groups">
      {% for g in contact.entity.group_set.all %}
        <span class="group-tag btn btn-xs btn-gray" title="{{g.description}}">
          {% spaceless %}
          <a href="{% url "search_group" g.id %}" class="group-name">{{g.name}}</a>&nbsp;
          <span class="glyphicon glyphicon-remove disabled"></span>
          {% endspaceless %}
        </span>
      {% endfor %}
      {% for g in contact.group_set.all %}
        <span class="group-tag btn btn-xs btn-primary" title="{{g.description}}">
          {% spaceless %}
          <a href="{% url "search_group" g.id %}" class="group-name">{{g.name}}</a>&nbsp;
            <a class="colorbox-form btn-close" href="{% url "crm_remove_entity_from_group" g.id entity.id %}" title="{% trans "Remove from group" %}">
              <span class="glyphicon glyphicon-remove"></span>
            </a>
          {% endspaceless %}
        </span>
      {% endfor %}
    </div>
  </div>
</div>