{% extends "sanza/_section.html" %}
{% load i18n sanza_utils %}{% load url from future %}

{% block column_section_data %}
<div class="column-section-data-title">
  <div class="contact_logo">
    <img {{contact.get_photo_center_style}} src="{{contact.get_safe_photo}}"/>
  </div>
    
  <div class="contact_info">
    <div>
      <span class="title">{{contact}}{% if contact.title %} - <span class="contact-title">{{ contact.title }}</span>{% endif %}</span>
      
      {% if not contact.entity.is_single_contact %}
      <a href="{% url "crm_view_entity" contact.entity.id %}" class="contact-entity-info">
        <img src="{{contact.entity.get_safe_logo}}"><span class="text">{{contact.entity}}</span>
      </a>
      {% endif %}
      
       {% if contact.has_left %}<span class="warning-text">{% trans "This contact has left." %}</span>{% endif %}
    </div>
    <br/>
    <div>
    <span class="label">{% trans "UPD" %}: {{contact.modified|date:"d/m/Y"}}</span>
    {% if contact.job %}<span class="contact-job">{{ contact.job }}</span>{% endif %}
    {% with contact.get_roles as roles %}
      {% for role in roles %}<span class="label">{{role}}</span>{% endfor %}
    {% endwith %}
    {% if contact.notes %}
      <a href="" class="note-icon has-note" title="{% trans "Show note" %}">
        <img src="{{STATIC_URL}}img/notebook.png">
        <div class="action-note" style="display: none;">
          {{contact.notes|linebreaksbr}}
        </div>
     </a>
    {% endif %}
    </div>
  </div>
</div>  

{% if contact.get_full_address %}<span class="addr-info">{{contact.get_full_address}}</span>{% endif %}<br /><br />
{% if contact.get_email %}<span class="addr-info"><a href="mailto:{{contact.get_email}}">{{contact.get_email}}</a></span>{% endif %}
{% with contact.get_phones as phones %}{% if phones %}<span class="addr-info">{{phones|seq_to_dash}}</span>{% endif %}{% endwith %}
{% endblock %}


{% block section_action %}
  <a href="{% url "crm_edit_contact" contact.id %}">{% trans "Edit" %}</a>
  <a class="colorbox-form" href="{% url "crm_delete_contact" contact.id%}">{% trans "Delete" %}</a>
  {% if contact.same_as %}
    {% if contact == contact.same_as.main_contact %}
      <div class="is-main-contact"><img style="vertical-align: top;" src="{{STATIC_URL}}img/rosette-label.png" />{% trans "Is Main" %}</div>
    {% else %}
      <a class="colorbox-form" href="{% url "crm_make_main_contact" contact.id %}">{% trans "Make main" %}</a>
    {% endif %}
  {% endif %}
{% endblock %}
