{% extends "sanza/_section.html" %}
{% load i18n sanza_utils %}{% load url from future %}

{% block column_section_data %}
<div class="column-section-data-title">
  <div class="opportunity_info">
    <div class="entity_logo">
      <img src="{% if opportunity.logo %}{{MEDIA_URL}}{{opportunity.logo_thumbnail}}{% else %}{{opportunity.default_logo}}{% endif %}"/>
    </div>
  
    <span class="title">{{opportunity.name}}</span>&nbsp;&nbsp;
    {% if opportunity.type %}<span class="label">{{opportunity.type}}</span>{% endif %}
    {% if opportunity.status %}<span class="label">{{opportunity.status}}</span>{% endif %}
  </div>
</div>
<div class="entity_description">{{opportunity.detail|linebreaksbr}}</div>
{% endblock %}


{% block section_action %}
    <a href="{% url "crm_edit_opportunity" opportunity.id %}">{% trans "Edit" %}</a>
    <a href="{% url "search_opportunity" opportunity.id %}">{% trans "View contacts" %}</a>
{% endblock %}
