{% extends "sanza/_bs_section.html" %}
{% load i18n sanza_utils %}{% load url from future %}

{% block section_title %}
  {{ set_title }}
{% endblock %}
  
{% block section_data %}
{% include "Crm/_actions_table.html" %}
{% endblock %}

{% block section_buttons %}
  {% if contact %}
    <li><a class="colorbox-form" href="{% url "crm_create_action" 0 contact.id %}">{% trans "Add action" %}</a></li>
  {% else %}
    {% if entity %}
      <li><a class="colorbox-form" href="{% url "crm_create_action" entity.id 0 %}">{% trans "Add action" %}</a></li>
    {% else %} 
      <li><a class="colorbox-form" href="{% url "crm_create_action" 0 0 %}">{% trans "Add action" %}</a></li>
    {% endif %}
  {% endif %}
{% endblock %}
