{% extends "sanza/_section.html" %}
{% load i18n pagination_tags %}{% load url from future %}

{% block section_title %}
    {% trans "My groups" %}
    <span class="day-selector">
    <a href="{% url "crm_see_my_groups" %}?ordering=name" class="{% if ordering == 'name' %}selected{% endif %}">{% trans "By name" %}</a>
    <a href="{% url "crm_see_my_groups" %}?ordering=date" class="{% if ordering == 'date' %}selected{% endif %}">{% trans "By date" %}</a>
    </span>
{% endblock %}
  
{% block section_data %}
  <table>
  <tr><th>{% trans "Name" %}</th><th>{% trans "Number of members" %}</th>
      <th>{% trans "Description" %}</th><th>&nbsp;</th></tr>
  {% autopaginate groups 50 %}
  {% for g in groups %}
    <tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
      <td><a href="{% url "search_group" g.id %}">{{g.name}}</a></td>
      <td>{{g.entities.count}} {% trans "entities" %}
      - {{g.contacts.count}} {% trans "contacts" %}</td>
      <td>{{g.description|default:"&nbsp;"}}</td>
      <td class="ico-col" title="{% trans "Edit" %}">
        <a href="{% url "crm_edit_group" g.id %}"><img src="{{STATIC_URL}}img/gear.png">
      </a></td>
    </tr>
  {% endfor %}
  </table>
  {% paginate %}
{% endblock %}

{% block section_action %}
  {% if entity %}
    <a href="{% url "crm_add_entity_to_group" entity.id %}">{% trans "Add" %}</a>
  {% else %}
    <a href="{% url "crm_add_group" %}">{% trans "Add" %}</a>
  {% endif %}
{% endblock %}
