{% extends "sanza/_bs_section.html" %}
{% load i18n sanza_utils pagination_tags %}{% load url from future %}

{% block section_title %}
  {% if all_actions and entity %}
    {{title}} - <a href="{% url "crm_view_entity" entity.id %}">{{entity.name}}</a>
  {% else %}
    {% if all_actions and contact %}
      {{title}} - <a href="{% url "crm_view_contact" contact.id %}">{{contact.fullname}}</a>
    {% else %}
      {% trans "Actions" %}
      <span class="day-selector">
        {% for d in days_choice %}
        <a href="{% url "crm_board_panel" %}?days={{d}}" class="{% if days == d %}selected{% endif %}">{% blocktrans %}Next {{d}} days{% endblocktrans %}</a>
        {% endfor %}
      </span>
  {% endif %}{% endif %}
{% endblock %}
  
  
{% block section_data %}
<div class="row"><div class="col-md-12">
{% include "Crm/_actions_table_script.html" %}
{% if actions %}
  {% if all_actions %}{% autopaginate actions 25 %}{% endif %}
  {% include "Crm/_actions_table.html" %}
  {% if all_actions %}{% paginate %}{% endif %}
{% endif %}
</div></div>
{% endblock %}

{% block section_action %}
  {% if contact %}
    <li><a class="" href="{% url "crm_add_action_for_contact" contact.id %}">{% trans "Add" %}</a></li>
    {% if not all_actions %}
      <li><a class="" href="{% url "crm_all_actions" %}">{% trans "All actions" %}</a></li>
    {% endif %}
  {% else %}
    {% if entity %}
      <li><a class="colorbox-form" href="{% url "crm_add_action_for_entity" entity.id %}">
        {% trans "Add" %}
      </a></li>
      {% if not all_actions %}
      <li><a class="" href="{% url "crm_entity_actions" entity.id %}">{% trans "All actions" %}</a></li>
      {% endif %}
    {% else %} 
      <li><a class="colorbox-form" href="{% url "crm_add_action" %}?x=0{% if opportunity %}&opp_id={{opportunity.id}}{% endif %}">
        {% trans "Add" %}
      </a></li>
      {% if not all_actions %}
        <li><a href="{% url "crm_all_actions" %}">{% trans "All actions" %}</a></li>
      {% endif %}
  {% endif %}{% endif %}
  {% if SANZA_MULTI_USER %}
    <li><a href="" id="toggle_my_actions" class="all">{% trans "See my actions" %}</a></li>
  {% endif %}
{% endblock %}
