{% extends "sanza/_bs_section.html" %}
{% load i18n thumbnail %}

{% block section_header_extra_class %}main-section-header{% endblock %}

{% block section_title %}
<div class="logo" style="display: inline-block; vertical-align: middle;">
  <div class="logo-container">
    <img {{entity.get_logo_center_style}} src="{{entity.get_safe_logo}}"/>
  </div>
</div>
<div style="display: inline-block; vertical-align: middle;">
{{entity.name}}
<div class="section-subtitle">{{entity.description}}</div>
</div>
{% endblock %}

{% block section_data %}
<div class="row">
  <div class="col-md-4">
    <table class="table">
      <tr><td>
        <span class="glyphicon glyphicon-home"></span> {{entity.get_display_address}}
      </td></tr>
      <tr><td>
        <span class="glyphicon glyphicon-envelope"></span> <a href="mailto:{{entity.email}}">{{entity.email}}</a>
      </td></tr>
      <tr><td>
        <span class="glyphicon glyphicon-earphone"></span> {{entity.phone}}
      </td></tr>
      <tr><td>
        <span class="glyphicon glyphicon-link"></span> {% if entity.website %}<a href="{{entity.website}}">{{entity.website}}</a>{% endif %}
      </td></tr>
      <tr><td>
        <span class="glyphicon glyphicon-print"></span> {{entity.fax}}
      </td></tr>
    </table>
  </div>
  
  <div class="col-md-7">
    
    <div class="note" style="margin-bottom: 5px;">
      <span class="contenteditable" contenteditable="true" rel="{% url "auto_save_data" "entity" "notes" entity.id %}">
        {{entity.notes|linebreaksbr|default:"&nbsp;"}}
      </span>
    </div>
    
    {% include "Crm/_entity_groups.html" %}
    
    {% with entity.get_custom_fields as custom_fields %}
    {% if custom_fields %}
        {% include "Crm/_custom_fields.html" with instance=entity  model="entity" %}
    {% endif %}
    {% endwith %}
  </div>
  
  <div class="col-md-1">
    <table class="table micro-table table-striped">
      <tr><td><b>{% trans "Relationship" %}</b> {{entity.relationship_date|date:"d/m/Y"}}</td></tr>
      <tr><td><b>{% trans "ADD_DT" %}</b> {{entity.created|date:"d/m/Y"}}</td></tr>
      <tr><td><b>{% trans "UPD_DT" %}</b> {{entity.modified|date:"d/m/Y"}}</td></tr>
      {% if entity.type %}
      <tr><td><b>{% trans "Type" %}</b> {{entity.type}}</td></tr> 
      {% endif %}
    </table>
  </div>
</div>  

{% endblock %}

{% block section_buttons %}
  <li><a href="{% url "crm_edit_entity" entity.id %}">{% trans "Edit" %}</a></li>
  <li><a class="colorbox-form" href="{% url "crm_delete_entity" entity.id%}">{% trans "Delete" %}</a></li>
  <li><a class="" href="{% url "crm_edit_custom_fields" "entity" entity.id %}">{% trans "Edit fields" %}</a></li>

{% endblock %}
