{% extends "sanza/_bs_section.html" %}
{% load i18n sanza_utils pagination_tags %}

{% block section_title %}
  {% trans "Actions" %}
{% endblock %}
  
{% block section_data %}
  {% include "Crm/_actions_table_script.html" %}
  {% for set_id, set_title, actions in actions_by_set %}
    <div class="row"><div class="col-md-12">
    {% if set_title %}<div class="section-action-set-title">{{ set_title }}</div>{% endif %}
    {% include "Crm/_actions_table.html" %}
    </div></div>
  {% endfor %}
{% endblock %}

{% block section_buttons %}
  {% if contact %}
    <li><a class="colorbox-form" href="{% url "crm_create_action" 0 contact.id %}">{% trans "Add action" %}</a></li>
  {% else %}
    {% if entity %}
      <li><a class="colorbox-form" href="{% url "crm_create_action" entity.id 0 %}">{% trans "Add action" %}</a></li>
    {% else %} 
      <li><a class="colorbox-form" href="{% url "crm_create_action" 0 0 %}">{% trans "Add action" %}</a></li>
    {% endif %}
  {% endif %}
  {% if SANZA_MULTI_USER %}
    <li><a href="" id="toggle_my_actions" class="all">{% trans "See my actions" %}</a></li>
  {% endif %}
{% endblock %}

