{% extends "sanza/_section.html" %}
{% load i18n sanza_utils %}{% load url from future %}

{% block section_title %}
  {{ set_title }}
{% endblock %}
  
{% block section_data %}
{% include "Crm/_actions_table.html" %}
{% endblock %}

{% block section_action %}
  {% if contact %}
    <a href="{% url "crm_add_action_for_contact" contact.id %}">{% trans "Add" %}</a>
    {% if not all_actions %}
      <a href="{% url "crm_contact_actions" contact.id set_id %}">{% trans "All actions" %}</a>
    {% endif %}
  {% else %}
    {% if entity %}
      <a class="colorbox-form" href="{% url "crm_add_action_for_entity" entity.id %}">{% trans "Add" %}</a>
      {% if not all_actions %}
      <a href="{% url "crm_entity_actions" entity.id set_id %}">{% trans "All actions" %}</a>
      {% endif %}
    {% else %}
      <a class="colorbox-form" href="{% url "crm_add_action" %}?x=0{% if opportunity %}&opp_id={{opportunity.id}}{% endif %}">
        {% trans "Add" %}
      </a>
      {% if not all_actions %}
        <a href="{% url "crm_all_actions" %}">{% trans "All actions" %}</a>
      {% endif %}
  {% endif %}{% endif %}
{% endblock %}
