{% extends "sanza/_bs_section.html" %}
{% load i18n sanza_utils %}

{% block column_section_data %}
<div class="row">
  <div class="col-md-12">
    <span class="title">{{opportunity.name}}</span>&nbsp;&nbsp;
    {% if opportunity.type %}<span class="label">{{opportunity.type}}</span>{% endif %}
    {% if opportunity.status %}<span class="label">{{opportunity.status}}</span>{% endif %}
  </div>
</div>
{% endblock %}


{% block section_action %}
    <li><a href="{% url "crm_edit_opportunity" opportunity.id %}">{% trans "Edit" %}</a></li>
    <li><a href="{% url "search_opportunity" opportunity.id %}">{% trans "View contacts" %}</a></li>
{% endblock %}
