{% extends "sanza/_bs_section.html" %}
{% load i18n sanza_utils %}

{% block section_title %}{% trans "Relationships" %}{% endblock %}
  
{% block section_data %}
<table class="table table-striped">
{% if same_as %}
  {% for c in same_as %}
  {% with c.has_left as has_left %}
  <tr>
    <td>{%trans "Same As"%}
      {% if c == contact.same_as.main_contact %}
      <span class="glyphicon glyphicon-certificate highlight" title="{% trans "Is Main"%}"> </span>
      {% else %}
        <a class="colorbox-form" href="{% url "crm_make_main_contact" contact.id c.id %}">
          <span class="glyphicon glyphicon-certificate disabled" title="{% trans "Make main" %}"> </span>
        </a>
      {% endif %}
    </td>
    {% if c.entity.is_single_contact %}
    <td colspan="2"><a href="{% url "crm_view_contact" c.id %}">{{c.fullname}}</a></td>
    {% else %}
    <td><a href="{% url "crm_view_contact" c.id %}">{{c.fullname}}</a></td>
    <td><a href="{% url "crm_view_entity" c.entity.id %}">{{ c.entity }}</a></td>
    {% endif %}
    <td>{{c.get_roles|seq_to_dash|default:'&nbsp;'}}</td>
    <td>{{c.get_phones|seq_to_br}}</td>
    <td><a href="mailto:{{c.get_email}}">{{c.get_email}}</a></td>
    <td><a class="colorbox-form" href="{% url "crm_remove_same_as" contact.id c.id %}">
      <span class="glyphicon glyphicon-remove">
    </a></td>
  </tr>
  {% endwith %}
  {% endfor %}
{% endif %}

{% with contact.get_relationships as relationships %}
{% if relationships %}
  {% for r in relationships %}
  {% with r.contact.has_left as has_left %}
  <tr class="relationship {% if r.contact.main_contact %}main-contact{% endif %} {% if has_left %}old-contact{% endif %}">
    <td>{{r.type_name}}</td>
    {% if r.contact.entity.is_single_contact %}
    <td colspan="2"><a href="{% url "crm_view_contact" r.contact.id %}">{{r.contact.fullname}}</a></td>
    {% else %}
    <td><a href="{% url "crm_view_contact" r.contact.id %}">{{r.contact.fullname}}</a></td>
    <td><a href="{% url "crm_view_entity" r.contact.entity.id %}">{{ r.contact.entity }}</a></td>
    {% endif %}
    <td>{{c.get_roles|seq_to_dash|default:'&nbsp;'}}</td>
    <td>{{r.contact.get_phones|seq_to_br}}</td>
    <td><a href="mailto:{{r.contact.get_email}}">{{r.contact.get_email}}</a></td>
    <td><a class="colorbox-form" href="{% url "crm_delete_relationship" contact.id r.id %}">
      <span class="glyphicon glyphicon-remove">
    </a></td>
  </tr>
  {% endwith %}
  {% endfor %}
{% endif %}
{% endwith %}
</table>
  

{% endblock %}

{% block section_buttons %}
  <li>
    <a class="colorbox-form" href="{% url "crm_same_as" contact.id %}">{% trans "Same As" %}</a>
  </li>
  {% if contact.can_add_relation %}
    <li><a class="colorbox-form add-relation" href="{% url "crm_add_relationship" contact.id %}">{% trans "Add relationship" %}</a><li>
  {% endif %}
{% endblock %}
