{% extends "sanza/_section.html" %}
{% load i18n sanza_utils %}{% load url from future %}

{% block section_title %}{% trans "Relationships" %}{% endblock %}
  
{% block section_data %}
{% if same_as %}
<table id="entity_contacts">
  <tr>
    <th>&nbsp;</th>
    <th>{% trans "Name" %}</th>
    <th>{% trans "Entity" %}</th>
    <th>{% trans "Role" %}</th>
    <th>{% trans "Phone" %}</th>
    <th>{% trans "Email" %}</th>
  </tr>
  {% for c in same_as %}
  {% with c.has_left as has_left %}
  <tr class="{% if c.main_contact %}main-contact{% endif %} {% if has_left %}old-contact{% endif %}">
    <td class="status-icon">{% if c == contact.same_as.main_contact %}<img src="{{STATIC_URL}}img/rosette-label.png" />{% endif %}</td>
    {% if c.entity.is_single_contact %}
    <td colspan="2"><a href="{% url "crm_view_contact" c.id %}">{{c.fullname}}</a></td>
    {% else %}
    <td><a href="{% url "crm_view_contact" c.id %}">{{c.fullname}}</a></td>
    <td><a href="{% url "crm_view_entity" c.entity.id %}">{{ c.entity }}</a></td>
    {% endif %}
    <td>{{c.get_roles|seq_to_dash|default:'&nbsp;'}}</td>
    <td>{{c.get_phones|seq_to_br}}</td>
    <td><a href="mailto:{{c.get_email}}">{{c.get_email}}</a></td>
  </tr>
  {% endwith %}
  {% endfor %}
</table>
{% endif %}

{% with contact.get_relationships as relationships %}
{% if relationships %}
<table class="contact-relationships">
  <tr>
    <th>{% trans "Relationship" %}</th>
    <th>{% trans "Contact" %}</th>
    <th>{% trans "Entity" %}</th>
    <th>{% trans "Phone" %}</th>
    <th>{% trans "Email" %}</th>
  </tr>
  {% for r in relationships %}
  {% with r.contact.has_left as has_left %}
  <tr class="{% if r.contact.main_contact %}main-contact{% endif %} {% if has_left %}old-contact{% endif %}">
    <td>{{r.type_name}}</td>
    {% if r.contact.entity.is_single_contact %}
    <td colspan="2"><a href="{% url "crm_view_contact" r.contact.id %}">{{r.contact.fullname}}</a></td>
    {% else %}
    <td><a href="{% url "crm_view_contact" r.contact.id %}">{{r.contact.fullname}}</a></td>
    <td><a href="{% url "crm_view_entity" r.contact.entity.id %}">{{ r.contact.entity }}</a></td>
    {% endif %}
    <td>{{r.contact.get_phones|seq_to_br}}</td>
    <td><a href="mailto:{{r.contact.get_email}}">{{r.contact.get_email}}</a></td>
  </tr>
  {% endwith %}
  {% endfor %}
</table>
{% endif %}
{% endwith %}
  

{% endblock %}

{% block section_action %}
  <a class="colorbox-form" href="{% url "crm_same_as" contact.id %}">{% trans "Same As" %}</a>
  {% if contact.can_add_relation %}
  <a class="colorbox-form add-relation" href="{% url "crm_add_relationship" contact.id %}">{% trans "Add relationship" %}</a>
  {% endif %}
{% endblock %}
