{% extends "sanza/tab_form.html" %}
{% load i18n %}{% load url from future %}

{% block doc_header %}
  {% if entity.id %}
  <div class="entity_logo">
    <img {{entity.get_logo_center_style}} src="{{entity.get_safe_logo}}"/>
  </div>
  <h2>{% blocktrans %}Edit '{{entity}}'{% endblocktrans %}</h2>
  {% else %}
  <h2>
    <div class="entity_logo">
      <img src="{{STATIC_URL}}img/entity.png"/>
    </div>
    {% if entity.type.is_male %}
      {% trans "NewMale" %} {{entity.type}}
    {% else %}
      {% trans "NewFemale" %} {{entity.type}}
    {% endif %}
  </h2>
  {% endif %}
{% endblock %}

{% block form_buttons %}
  <input type="submit" value="{% trans "Save"%}" />
  {% if entity.id %}
    <a href="{% url "crm_view_entity" entity.id%}">{% trans "Cancel" %}</a>
  {% else %}
    <a href="{% url "crm_board_panel" %}">{% trans "Cancel" %}</a>
  {% endif %}
{% endblock %}

{% block doc_footer %}
  {% include "sanza/_calendar.html" with field="relationship_date" %}
{% endblock %}
