{% extends "sanza/tab_form.html" %}
{% load i18n %}

{% block extra_head %}
  {{block.super}}
  {% include "sanza/_calendar.html" with field="date" yearRange="c:c+2" %}
<script>
  $(function() {
    var dont_change_status = true;
    $("select#id_type").change(function() {
      $.ajax({
          url: "{% url "crm_get_action_status" %}?t="+$(this).val(),
          success: function(data){
            var allowed_status = data.allowed_status;
            $("select#id_status option").each(function(idx, elt) {
              if ($(elt).val() in allowed_status) {
                $(elt).removeAttr("disabled");
              } else {
                $(elt).attr("disabled", "disabled");
              }
            });
            $("select#id_status option").trigger("chosen:updated");
          }
      });
      if (!dont_change_status) {
        $("select#id_status").val("");
      }
      dont_change_status = false;
      return false;
    });
    $("select#id_type").change();
  })
</script>
{% endblock %}

{% block doc_header %}
  {% if action %}
  <h2>{% trans "Edit action" %}</h2>
  {% else %}
  <h2>{% trans "Create action" %}</h2>
  {% endif %}

  {% if action.done %}
  <h3 class="action-warning">{% trans "This action has be done on" %} {{action.done_date}}</h3>
  {% endif %}
{% endblock %}

{% block title %}{% if action %}{% trans "Edit action" %}{% else %}{% trans "Create action" %}{% endif %}{% endblock %}

{% block form_url %}{% if action %}{% url "crm_edit_action" action.id %}{% else %}{% url "crm_create_action" entity_id contact_id %}{% endif %}{% endblock %}


{% block popup_buttons %}
    <input class="btn btn-primary" type="submit" value="{% trans "Save"%}">
    {% if action %}
    <a class="btn btn-default colorbox-form" href="{% url "crm_delete_action" action.id %}">{% trans "Delete" %}</a>
    {% endif %}
    <a class="btn btn-default cancel_button" href="">{% trans "Cancel" %}</a>
{% endblock %}

{% block doc_footer %}
  
{% endblock %}
