{% extends "sanza/tab_form.html" %}
{% load i18n %}{% load url from future %}

{% block doc_header %}
  <div class="entity_logo">
    <img src="{{STATIC_URL}}img/action.png"/>
  </div>
  
  {% if not contact.entity.is_single_contact %}
  <a class="contact-entity-info">
    <img src="{{contact.entity.get_safe_logo}}"><span class="text">{{contact.entity}}</span>
  </a>
  {% endif %}
  
  <a class="contact-entity-info">
    <img src="{{contact.get_safe_photo}}"><span class="text">{{contact}}</span>
  </a>
  
  {% if action %}
  <h2>{% trans "Edit action" %}</h2>
  {% else %}
  <h2>{% trans "Create action" %}</h2>
  {% endif %}

  {% if action.done %}
  <h3 class="action-warning">{% trans "This action has be done on" %} {{action.done_date}}</h3>
  {% endif %}

  <h3>
    {% if entity %}
      {% trans "Entity" %}: <a href="{% url "crm_view_entity" entity.id %}">{{entity.name}}</a>
    {% else %}{% if contact %}
      {% trans "Contact" %}: <a href="{% url "crm_view_contact" contact.id %}">{{contact.fullname}}</a>
    {% endif %}{% endif %}
  </h3>

{% endblock %}

{% block form_buttons %}
    <input type="submit" value="{% trans "Save"%}">
    {% if action %}
    <a class="colorbox-form" href="{% url "crm_delete_action" action.id %}">{% trans "Delete" %}</a>
    {% endif %}
    {% if entity %}
      <a href="{% url "crm_view_entity" entity.id %}">{% trans "Cancel" %}</a>
    {% else %}{% if contact %}
      <a href="{% url "crm_view_contact" contact.id %}">{% trans "Cancel" %}</a>
    {% endif %}{% endif %}
{% endblock %}

{% block doc_footer %}
  {% include "sanza/_calendar.html" with field="date" yearRange="c:c+2" %}
{% endblock %}
