{% extends "sanza/bs_base.html" %}
{% load i18n %}

{% block extra_head %}
  {{block.super}}
  <script type="text/javascript" src="{{STATIC_URL}}js/js18n.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}admin/js/jquery.min.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}admin/js/jquery.init.js"></script>
  {{form.media}}
  <style>
    table.edit-group-fields th {
      width: 20%;
    }
    
    table.edit-group-fields td, table.edit-group-fields th {
      border: solid thin #ccc;
    }
    
    .selector {
      float: none !important;
    }
  </style>
{% endblock %}

{% block document_content %}
  <h2>{% if group %}
    {% blocktrans %}Edit the '{{group}}' group{% endblocktrans %}
  {% else %}
    {% trans "Create group" %}
  {% endif %}</h2>
  <form method="POST" action="">{% csrf_token %}
    <table class="table">
      {{form.as_table}}
    </table>
    <div class="row">
      <div class="col-md-10">
        <div class="buttons pull-right">
          <input class="btn btn-md btn-primary" type="submit" value="{%if group %}{% trans "Save"%}{% else %}{% trans "Add" %}{% endif %}" />
          {% if group %}
            <a class="btn btn-md btn-default" class="colorbox-form" href="{% url "crm_delete_group" group.id %}">{% trans "Delete" %}</a>
            <a class="btn btn-md btn-default" href="{{ next_url }}">{% trans "Cancel" %}</a>
          {% else %}
            <a class="btn btn-md btn-default" href="{% url "crm_see_my_groups" %}">{% trans "Cancel" %}</a>
          {% endif %}
          </div>
      </div>
    </div>
  </form>
{% endblock %}
