{% extends "sanza/base.html" %}
{% load i18n %}

{% block document_content %}
  <h2>{% blocktrans %}Edit '{{instance}}'{% endblocktrans %}</h2>
  <form method="POST" action="" enctype="multipart/form-data">{% csrf_token %}
    <div class="buttons">
    <input type="submit" value="{% trans "Save"%}">
    <a href="{{ instance.get_absolute_url }}">{% trans "Cancel" %}</a>
    </div>
    <ul>
      {{form.as_ul}}
    </ul>
  </form>
  {% include "sanza/_calendar.html" %}
{% endblock %}
