{% extends "sanza/tab_form.html" %}
{% load i18n %}

{% block extra_head %}
  {{block.super}}
  {% include "sanza/_calendar.html" with field="birth_date" yearRange="c-100:c" %}
{% endblock %}

{% block title %}{% if contact %}{% trans "Edit contact" %}{% else %}{% trans "Create contact" %}{% endif %}{% endblock %}

{% block form_url %}{% if contact %}{% url "crm_edit_contact" contact.id %}{% else %}{% if entity %}{% url "crm_add_contact" entity.id %}{% else %}{% url "crm_add_single_contact" %}{% endif %}{% endif %}{% endblock %}

{% block doc_header %}
  <h2>
    {% if contact %}
    {{contact}}</h2>
    {% else %}
    {% if is_single_contact %}
      {% trans "Create single contact" %}
    {% else %}
      {% trans "Create contact" %}
    {% endif %}
  {% endif %}
  </h2>
{% endblock %}
  
{% block popup_buttons %}
    <input class="btn btn-primary" type="submit" value="{% trans "Save"%}" />
    <a href="" class="btn btn-default cancel_button">{% trans "Cancel" %}</a>
{% endblock %}

{% block doc_footer %}
  
{% endblock %}
