{% extends "sanza/tab_form.html" %}
{% load i18n %}{% load url from future %}

{% block doc_header %}
  <div class="entity_logo">
    <img src="{{STATIC_URL}}img/folder.png"/>
  </div>
  {% if opportunity %}
  <h2>{% trans "Edit opportunity" %}</h2>
  {% if opportunity.ended %}
    {% trans "This opportunity has be closed on" %} {{opportunity.end_date}}
  {% endif %}
  {% else %}
  <h2>{% trans "Create opportunity" %}</h2>
  {% endif %}
{% endblock %}

  {% block form_buttons %}
    <div class="buttons">
    <input type="submit" value="{% trans "Save"%}" />
    {% if opportunity %}
    <a class="colorbox-form" href="{% url "crm_delete_opportunity" opportunity.id %}">{% trans "Delete" %}</a>
    <a href="{% url "crm_view_opportunity" opportunity.id %}">{% trans "Cancel" %}</a>
    {% else %}
      <a href="{{ next_url }}">{% trans "Cancel" %}</a>
    {% endif %}
    </div>
{% endblock %}
