{% extends "sanza/popup_form.html" %}
{% load i18n %}
{% block extra_head %}
{{ block.super }}
<script>

  /**
    * add an id to a list
    */
  function addIdToList(listValue, newId) {
    //list is s string '[1,2] --> addIdToList('1,2'], 3) should return '[1,2,3]'
    var ids = listValue.trim().replace(/^\[/,'').replace(/\]$/,'').split(",");
    for(var i=0; i<ids.length; i++) {
      ids[i] = parseInt(ids[i], 10);
      if (newId === ids[i]) {
        return null;
      }
    }
    ids.push(newId);
    return '['+ids.toString()+']';
  };

  /**
    * add an id to a list
    */
  function removeFromList(listValue, idToRemove) {
    //list is s string '[1,2,3] --> addIdToList('1,2,3'], 3) should return '[1,3]'
    var ids = listValue.trim().replace(/^\[/,'').replace(/\]$/,'').split(",");
    var newList = [];
    for(var i=0; i<ids.length; i++) {
      ids[i] = parseInt(ids[i], 10);
      if (idToRemove !== ids[i]) {
        newList.push(ids[i]);
      }
    }
    return '['+newList.toString()+']';
  };

  $('.new-members-list').on('click', "a.remove-me", function() {
    var member_type = $(this).data('type');
    var member_id = $(this).data('id');
    if (member_type === 'entity') {
      var newValue = removeFromList($("#id_entities").val(), member_id);
      if (newValue) {
        $("#id_entities").val(newValue);
        $(this).closest('.label').hide();
      }
    } else if (member_type === 'contact') {
      var newValue = removeFromList($("#id_contacts").val(), member_id);
      if (newValue) {
        $("#id_contacts").val(newValue);
        $(this).closest('.label').hide();
      }
    } else {
      alert('{% trans "Unknown type" %}');
    }
    return false;
  });

  function addMemberToList(member) {
    var typeIcon = '<a href="'+ member.url +'" class="colorbox-form">'+
      '<span class="glyphicon glyphicon-' +
      ((member.type === 'entity')?'tower':'user') +
      '"></span></a> ';
    var dataType = 'data-type="'+member.type+'" data-id="'+ member.id +'"';

    $(".new-members-list").append(
      '<span class="label label-member">' +
      typeIcon +
      member.name +
      ' <a class="remove-me" href '+dataType+'><span class="glyphicon glyphicon-remove"></span></a> ' +
      '</span>&nbsp;'
    );
    $(".new-members").show();
  };

  function addMember(member) {
    if (member.type === 'entity') {
      var newValue = addIdToList($("#id_entities").val(), member.id);
      if (newValue) {
        $("#id_entities").val(newValue);
        addMemberToList(member);
      } else {
        alert('{% trans "This entity is already member of the group" %}');
      }
    } else if (member.type === 'contact') {
      var newValue = addIdToList($("#id_contacts").val(), member.id);
      if (newValue) {
        $("#id_contacts").val(newValue);
        addMemberToList(member);
      } else {
        alert('{% trans "This contact is already member of the group" %}');
      }
    } else {
      alert('{% trans "Unknown type" %}');
    }
  };

  $(document).bind('cbox_complete', function(){
    var name_to_id = {};
    var name_id_to_type = {};
    //when something is an entered, get the autocomplete list
    $(".colorbox-form input#id_name").autocomplete({
      source: function(request, add){
			$.ajax({
        url: '{% url "crm_get_contact_or_entity" %}?term='+request.term,
        success : function(data) {
          var items = [];
          $.each(data, function(i, val){
            name_to_id[val.name] = val.type_and_id; //store in local dict
            items.push(val.name);
          });
          add(items);
        }
        });
      },
		  //when the item is selected : get the value
      select: function(event, ui) {
        var type_and_id = name_to_id[ui.item.value]; //get id from local dict
        if (!type_and_id) {
            type_and_id = ui.item.value;
        }
        var type_and_id_array = type_and_id.split('#');
        $(".colorbox-form input#id_object_id").val(type_and_id_array[1]);
        $(".colorbox-form input#id_object_type").val(type_and_id_array[0]);
        $(".colorbox-form input#id_name").attr('value', ui.item.value);
      }
    });
  });
</script>
{% endblock %}
{% block title %}{% trans "Look for contact or entity" %}{% endblock %}
{% block form_url %}{% url "crm_select_contact_or_entity" %}{% endblock %}
{% block doc_header %}
{% endblock %}