{% extends "sanza/base.html" %}
{% load i18n %}

{% block document_content %}
  
{% include "Crm/_contact_info.html" %}

{% with contact.get_custom_fields as custom_fields %}
{% if custom_fields %}
    {% include "Crm/_section_custom_fields.html" with instance=contact  model="contact" %}
{% endif %}
{% endwith %}

{% include "Crm/_section_contact_group.html" %}

{% include "Crm/_section_actions_by_set.html" %}

{% include "Crm/_section_opportunities.html" %}

{% include "Crm/_section_same_as.html" %}

{% endblock %}
