{% load i18n %}
<!DOCYTPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <title>{% trans "sanza CRM" %}</title>
  <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.jpg">

  {% block jquery_declaration %}
  {{jhouston}}
  <link type="text/css" href="{{ STATIC_URL }}css/redmond/jquery-ui-1.8.16.custom.css" rel="Stylesheet" />	
  <link type="text/css" href="{{ STATIC_URL }}css/colorbox.css" rel="Stylesheet" />	
  <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}js/jquery-1.6.4.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.16.custom.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ajax-csrf.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.colorbox-min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.form.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/colorbox.coop.js"></script>
  <script type="text/javascript">
    $(function () {
      $("a.colorbox-form").colorboxify();
    });
  </script>
  {% endblock %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" type="text/css" />
  {% block extra_head %}{% endblock %}
</head>
<body>
  <noscript>
    <div class="noscript">{% trans "This application requires javascript to be enabled" %}</div>
  </noscript>
  <div id="main">
  {% block main %}
    {% include "_messages.html" %}
    {% block header %}
    {% include "_header.html" %}
    {% endblock %}
    {% block navigation %}
    <nav id="nav">
      <ul>
        <li><a href="{% url crm_board_panel %}">{% trans "Board panel" %}</a></li>
        <li>
          <a href="{% url crm_view_entities_list %}">{% trans "Entities" %}</a>
          <ul><li><a href="{% url crm_create_entity %}">{% trans "Add" %}</a></li></ul>
        </li>
        <li><a href="{% url search %}">{% trans "Search" %}</a></li>
        <li><a href="{% url crm_see_my_groups %}">{% trans "My groups" %}</a></li>
        <li><a href="{% url emailing_newsletter_list %}">{% trans "My mailings" %}</a></li>
        <li>
          <a>{% trans "Account" %}</a>
          <ul>
            <li><a href="{% url django.contrib.auth.views.logout %}">{% trans "Logout" %}</a></li>
            <li><a href="{% url django.contrib.auth.views.password_change %}">{% trans "Password" %}</a></li>
            {%if user.is_staff %}<li><a href="{% url admin:index %}">{% trans "Admin" %}</a></li>{% endif %}
          </ul>
        </li>
        <li><form method="POST" action="{% url quick_search %}">{% csrf_token %}{{quick_search_form.text}}</form></li>
      </ul>
    </nav>
    {% endblock %}
    {% block document %}
    <div id="document">
      <h2>{% block document_title %}{{document_title}}{% endblock %}</h2>
      {% block document_content %}{% endblock %}
    {% endblock %}
    </div>
    {% block footer %}
    <footer>
    </footer>
    {% endblock %}
  {% endblock %}
  </div>
</body>
</html>

