{% extends "Emailing/public/base_custom.html" %}
{% load i18n %}
{% block custom_content %}
      <h1>{{ my_company }}</h1>
      <h3>{% blocktrans %}
      You have subscribed to our mailing-list.
      {% endblocktrans %}</h3>
      <p>
      {% blocktrans %}
      We sent you an email in order to verify your email address. Please check your inbox
      and click the confirmation link.<br /><br />
      If you don't receive this email within a few minutes, please check your spam folder or
      retry the subscription process.
      {% endblocktrans %}
      </p>
{% endblock %}
