{% extends "sanza/_bs_section.html" %}
{% load i18n sanza_utils %}

{% block section_title %}{{ name.capitalize }}{% endblock %}
  
{% block section_data %}
<table class="table table-striped">
  <tr>
    <th colspan="2">{% trans "Phone" %}</th>
  </tr>
  {% for c in contacts_and_entities %}
  <tr>
    <td>
      {{ c.get_phones|seq_to_dash }}
    </td>
    <td>
      <a href="{{ c.get_absolute_url }}">{{c.fullname|default:c}}</a>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
