{% extends "Emailing/newsletter.html" %}
  {% block style %}
  <style>
    body {
        background: #55f;
        font-family: "Calibri";
    }
    #newsletter {
        width: 800px;
        background: #fff;
        padding: 20px 20px 20px 20px;
        border: solid thin #777;
        margin: auto;
    }
    h1, h2, h3 {
        color: #55f;
        text-decoration: underline;
    }
    .newsletter-item {
        min-height: 128px;
        border: solid thin #ccc;
    }
    .newsletter-item img {
        float: left;
    }
    .newsletter-item .item-content{
        padding-left: 135px;
    }
  </style>
  {% endblock %}
</head>
