{% extends "sanza/_bs_section.html" %}
{% load i18n favorite_tags %}

{% block section_title %}
  <span class="glyphicon glyphicon-send"></span> <h2 class="inline-block">{{ emailing.newsletter.subject }}</h2>
{% endblock %}
  
{% block section_data %}
  <div>{{ emailing.get_info }}</div>
{% endblock %}

{% block section_buttons %}
  <li>{{ emailing.next_action }}</li>
  <li><a class="colorbox-form" href="{% url "emailing_delete" emailing.id %}">{% trans "Delete" %}</a></li>
  <li><a href="{% url "emailing_newsletter_list" %}">{% trans "Back" %}</a></li>
{% endblock %}

{% block section_favorite %}
  {% favorite_item object=emailing %}
{% endblock %}