{% extends "sanza/_section.html" %}
{% load i18n pagination_tags %}{% load url from future %}

{% block section_title %}
  {% trans "Newsletters" %}
{% endblock %}
  
{% block section_data %}
  
  <div class="user-info {% if not credits %}warning{% else %}ok{% endif %}">
  {% if not credits %}
    {% trans "Emailing is disabled: You must buy credits in order to send new emailings" %}  
  {% else %}
    {% trans "You have a credit of " %} {{credits}} {% trans "emails" %}  
  {% endif %}
  </div>
  
  {% if newsletters %}
  {% autopaginate newsletters 10 %}
  <table class="newsletters">
    <tr>
      <th>{% trans "Newsletter" %}</th><th>{% trans "Sending" %}</th>
    </tr>
  {% for nl in newsletters %}
    <tr>
      <td>
        {{nl.subject}}
        {% if nl.can_edit_newsletter %}
          <a href="{% url "coop_cms_edit_newsletter" nl.id %}">{% trans "Edit" %}</a>
        {% endif %}
          <a href="{% url "coop_cms_view_newsletter" nl.id %}">{% trans "View" %}</a>
      </td>
      <td>
        {% if nl.emailing_set.count %}
          <table>
          {% for e in nl.emailing_set.all %}
            <tr><td>
              {{e.get_info}} ({{e.get_contacts|length}} {% trans "recipients" %})
              <a href="{% url "emailing_view" e.id %}">{% trans "View" %}</a>
            </td></tr>
          {% endfor %}
          </table>
        {% else %}
          &nbsp;
        {% endif %}
      </td>
      
  </tr>
  {% endfor %}
  </table>
  {% paginate %}
  {% else %}
    {% trans "No newsletters" %}
  {% endif %}
{% endblock %}

{% block section_action %}
  <div class="header">{% trans "Add" %}</div>
  <a class="colorbox-form" href="{% url "emailing_new_newsletter" %}">{% trans "Newsletter" %}</a>
  <a href="{% url "search" %}">{% trans "Sending" %}</a>
{% endblock %}
