{% extends "sanza/_bs_section.html" %}
{% load i18n %}

{% block section_title %}
  {% trans "Statistics" %}
{% endblock %}
  
{% block section_data %}
<table class="table table-striped">
<tr><td>{% trans "Sendings" %}</td><td class="test-sendings">{{ emailing.sent_to.count }}</td></tr>
<tr><td>{% trans "Openings" %}</td><td class="test-openings">{{ emailing.opened_emails.count }}</td></tr>
{% for l in emailing.magiclink_set.all %}
    <tr><td><a href="{{ l.url }}" target="_blank">{{ l.url }}</a></td><td>{{ l.visitors.count }}</td></tr>
{% endfor %}
</table>
{% endblock %}
