{% extends "sanza/_bs_section.html" %}
{% load i18n pagination_tags favorite_tags %}

{% block section_title %}
  {% trans "Newsletters" %}
{% endblock %}
  
{% block section_data %}
  
  {% if newsletters %}
  {% autopaginate newsletters 10 %}
  <div class="table-responsive">
  <table class="table table-striped">
    <tr>
      <th>{% trans "Newsletter" %}</th><th>{% trans "Sending" %}</th>
    </tr>
  {% for nl in newsletters %}
    <tr>
      <td>
        {% favorite_item object=nl %}
        <a href="{% url 'coop_cms_view_newsletter' nl.id %}">{{nl.subject}}</a>
      </td>
      <td>
        {% if nl.emailing_set.count %}
          {% for e in nl.emailing_set.all %}
            <div class="row">
                <div class="col-md-6">
                    {% favorite_item object=e %}
                    <a href="{% url 'emailing_view' e.id %}">
                        {{e.get_info}} ({{e.get_contacts|length}} {% trans "recipients" %})
                    </a>
                </div>
            </div>
          {% endfor %}
        {% else %}
          &nbsp;
        {% endif %}
      </td>
      
  </tr>
  {% endfor %}
  </table>
  </div>

    {% paginate %}
  {% else %}
    {% trans "No newsletters" %}
  {% endif %}
{% endblock %}

{% block section_buttons %}
  <li><a class="colorbox-form" href="{% url "emailing_new_newsletter" %}">{% trans "Add Newsletter" %}</a></li>
  <li><a href="{% url "search" %}">{% trans "Add Sending" %}</a></li>
{% endblock %}
