{% extends "sanza/_bs_section.html" %}
{% load i18n favorite_tags %}

{% block section_title %}
  {{ emailing.newsletter.subject }}
{% endblock %}
  
{% block section_data %}
  <div>{% favorite_item object=emailing %}{{ emailing.get_info }}</div>
{% endblock %}

{% block section_buttons %}
  <li>{{ emailing.next_action }}</li>
  <li><a class="colorbox-form" href="{% url "emailing_delete" emailing.id %}">{% trans "Delete" %}</a></li>
  <li><a href="{% url "emailing_newsletter_list" %}">{% trans "Back" %}</a></li>
{% endblock %}
