{% extends "sanza/_bs_section.html" %}
{% load i18n favorite_tags %}

{% block section_title %}
  {% trans "Emailings" %}
{% endblock %}
  
{% block section_data %}
  <table class="table table-striped">
    <tr>
      <th>{% trans "Newsletter" %}</th><th>{% trans "Sending" %}</th>
    </tr>
    {% for e in emailings %}
    <tr>
      <td>
        {% favorite_item object=e %} {{e.newsletter.subject}}
      </td>
      <td>
        {{e.get_info}} ({{e.get_contacts|length}} {% trans "recipients" %})
        <a href="{% url "emailing_view" e.id %}">{% trans "View" %}</a>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}

{% block section_buttons %}
{% endblock %}
