{% extends "sanza/_bs_section.html" %}
{% load i18n pagination_tags sanza_utils %}

{% with emailing.get_contacts as contacts %}

{% block section_title %}
  {{ contacts.count }} {% trans "Contacts" %}
{% endblock %}
  
{% block section_data %}

<table class="table table-striped">
  {% autopaginate contacts 25 %}
  {% for c in contacts %}
  <tr>
    {% if c.entity.is_single_contact %}
    <td colspan="3">
      <a href="{{c.get_absolute_url}}">{{c.fullname}}</a>
    </td>
    {% else %}
    <td>
      <a href="{{c.get_absolute_url}}">{{c.fullname}}</a>
    </td>
    <td>
      <a href="{% url 'crm_view_entity' c.entity.id %}">{{c.entity.name}}</a>
    </td>
    <td>
      {{ c.get_roles|seq_to_dash|default:'' }}
    </td>
    {% endif %}
    <td>
     {{c.get_email}}
    </td>
  </tr>
  {% endfor %}
</table>
{% paginate %}
{% endblock %}

{% endwith %}

